<h1>Rhoto</h1>
<p>is simple and open-source photo gallery which utilize Ruby on Rails, Bootstrap, Devise, Paperclip and KnockoutJS.</p>
<p>It has simple administration and offers managing photos and albums.</p>
<p>

	<%
	if user_signed_in? then
	%>
		<%= link_to('New admin', new_user_path)  %><br>
		
		<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
		
    
	<% else %>
		<div class='btn'>
			<%= link_to('Login', new_user_session_path)  %>
			<br>
		
		
		<!-- REMOVE BUTTON TO CREATE NEW ADMIN /-->
		<%= link_to('New admin', new_user_registration_path, :class => "btn")  %>



		</div>
	<% end %>
</p>