<h1>Rhoto</h1>
<%= link_to 'Albums', albums_path %>
<p>
	<%
	if user_signed_in? then
	%>
		<%= link_to "My account", edit_user_registration_path %><br>
		<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
		
    
	<% else %>
		<%= link_to('Login', new_user_session_path)  %>
	<% end %>
</p>