<form data-bind="submit: addComment">
    <p>User: <input data-bind="value: newCommentUser" placeholder="Who are you?" /> <span data-bind="text: userError"></span></p>

    
    <p>Title: <input data-bind="value: newCommentTitle" placeholder="Title" /> <span data-bind="text: titleError"></span></p>

    <p>Comment: <input data-bind="value: newCommentContent" placeholder="What do you think about this photo?" /> <span data-bind="text: contentError"></span></p>

    <button type="submit">Add</button>
</form>