<form data-bind="submit: addComment">
    

  <div class="field">
    <label>User</label>
    <input type='text' data-bind="value: newCommentUser" placeholder="Who are you?" /> 
    <span data-bind="text: userError"></span>
  </div>

  <div class="field">
    <label>Title</label>
 	<input  type='text' data-bind="value: newCommentTitle" placeholder="Title" />
 	<span data-bind="text: titleError"></span>
  </div>

  <div class="field">
    <label>Comment</label>
    <input  type='text' data-bind="value: newCommentContent" placeholder="What do you think about this photo?" />
    <span data-bind="text: contentError"></span>
  </div>

    <button type="submit" class='btn'>Post</button>
</form>